.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.member-selection {
  margin: 20px;
}

.members-list {
  border: solid #14171a 3px;
}

.members-list-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.members-list-row.header {
  border-bottom: solid #14171a 3px;
}

.members-column {
  border: solid #2f333c 3px;
  padding: 5px;
  margin: 0px;
  background-color: #3e4450;
}
